Import Dependencies:

In [ ]:
from fastai.collab import *
from fastai.tabular.all import *

# Collaborative Filtering Book Recommendation System Using Deep Learning

### Import the data:

In [ ]:
import pandas as pd
ratings = pd.read_csv('book_recommendation-cleaned.csv', delimiter=';', usecols=['User-ID', 'User-Rating', 'Book-Title'])
ratings.columns = ['user', 'rating', 'title']
ratings.head()

     user  rating                              title
0  276747       9           Little Altars Everywhere
1  276747       9                  Waiting to Exhale
2  276747       8  Birdsong: A Novel of Love and War
3  276747       7  How to Deal With Difficult People
4  276747       7      The Golden Rule of Schmoozing

### Create a DataLoader using the data:

In [ ]:
dls = CollabDataLoaders.from_df(ratings, item_name='title', rating_name='rating', bs=64, seed=42)
dls.show_batch()

### Create a deep learning model with 2 hidden layers for collaborative filtering:

In [ ]:
learn = collab_learner(dls, use_nn=True, y_range=(0, 10.5), layers=[100,50])
learn.fit_one_cycle(5, 5e-3, wd=0.01)

### Predict user ratings for movies:

In [ ]:
users = [206567]
movies = ["Run Catch Kiss: A Gratifying Novel"]

df = pd.DataFrame({
    'user': users,
    'title': movies
})

dl = learn.dls.test_dl(df)
learn.get_preds(dl=dl)

(tensor([[5.7113]]), None)